.color-yellow {
    color: yellow;
}

::placeholder {
    color: black;
    /* font-size: 0.75rem; */
    vertical-align: middle;
}

.bg-blue {
    background-color: rgb(130, 175, 238);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-bar {
    background-color: rgb(229, 229, 229);
}


.debug {
    border: 2px solid red;
}

body {
    height: 100vh;
}

nav {
    background-image: url(../img/sidebar-bg.png);
    background-color: black;
    background-repeat: no-repeat;
}

.head-nav {
    height: 3rem;
    flex-wrap: wrap;
}

.hover:hover {
    background-color: aqua;
}

.bar-search {
    flex-grow: 1;
}

.logos,
.bell {
    width: 2rem;
    height: 2rem;
}

.logos img,
.bell img {
    width: 100%;
}

.ro a {
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
}




@media only screen and (min-width: 992px) {

    .logos,
    .bell {
        width: 6rem;
        height: 2rem;
    }

}